extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ovidiu Cotorogea - Ovi

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Let me tell you just one of the many big reasons why being passionate about something is the biggest asset a person can have. Work/life balance isn't something a passionate person has to worry about because
            | their work is their life. It’s what they breathe, live, and eat, so there’s no such thing as leaving it at the office. 
            | I've spent a fair amount of my life searching for my passion because of an advice I've seen <i>"Find your passion and never let it go"</i>. I tried finding it myself, but I believe it has found me.
            | Not just coding itself, but everything that comes with it. Solving problems, creating new stuff, that satisfaction when you finally fix an annoying bug. I'm Ovi and Computer Science is my passion, 
            | I'm seeking a developer position where I can work in a field that I'm truly passionate about.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Problem solving
          li Teamwork
          li JavaScript
          li Express.js
          li jQuery
          li HTML
          li CSS
          li Git/Github
          li Data Structures
          li Algorithms
          li Object Oriented Programming
          li Functional Programming
        h6 Contact Info

        ul
          li +45 5524 1995
          li covidiu97@gmail.com

        a.button.expanded(href='https://linkedin.com/in/covidiu97', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/Ovio224', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  